<ion-view title="About" id="page11">
  <ion-content padding="false" class="has-header">
    <div>
      <img src="img/KuwwymrmTUKixXEfPQp2_wechaty-icon.png" style="display: block; width: 150px; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="about-heading10" style="color:#33CD5F;font-weight:400;text-align:center;">Chatie 0.7</h4>
    <ion-list id="about-list6">
      <ion-item class="item-icon-left balanced" id="about-list-item11" ui-sref="menu.help">
        <i class="icon ion-ios-star-outline"></i>Rate Wechaty</ion-item>
      <ion-item class="item-icon-left balanced" id="about-list-item16" ui-sref="menu.help">
        <i class="icon ion-clipboard"></i>Release Notes</ion-item>
      <ion-item class="item-icon-left balanced" id="about-list-item12" ui-sref="menu.feedback">
        <i class="icon ion-ios-people-outline"></i>Feedback</ion-item>
      <ion-item class="item-icon-left balanced" id="about-list-item30" ui-sref="menu.status">
        <i class="icon ion-android-cloud-done"></i>Status</ion-item>
      <ion-item class="item-icon-left balanced" id="about-list-item15" ui-sref="menu.help">
        <i class="icon ion-ios-help-empty"></i>Help</ion-item>
      <ion-item class="item-icon-left balanced" id="about-list-item14" ui-sref="menu.feedback">
        <i class="icon ion-ios-refresh-empty"></i>Check for Update</ion-item>
    </ion-list>
    <div class="spacer" style="height: 100px;"></div>
    <div id="about-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <a href="https://github.com/wechaty/wechaty">Github</a> |
        <a href="https://github.com/wechaty/wechaty/issues">Issue</a> |
        <a href="https://github.com/wechaty/wechaty/wiki">Wiki</a> |
        <a href="https://hub.docker.com/r/zixia/wechaty">Docker</a>
      </p>

      <p style="color:#000000;">Copyright © 2017 ♥
        @<a href="https://twitter.com/zixia">zixia</a>
      </p>
    </div>
  </ion-content>
</ion-view>
