<ion-view title="Dashboard" hide-back-button="true" id="page1">
  <ion-content padding="true" class="has-header">
    <div id="dashboard-container2">
      <div class="item item-body" id="dashboard-list-item-container13">
        <div id="dashboard-markdown23" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;">Click for detail</p>
        </div>
        <ion-list id="dashboard-list13">
          <ion-item id="dashboard-list-item45" ui-sref="menu.hostieList">Hosties
            <span class="item-note">{{ activeHostieNum }} / {{ hostieList.length }}</span>
          </ion-item>
          <ion-item id="dashboard-list-item46" ui-sref="menu.botieList">Boties
            <span class="item-note">{{ activeBotieNum }} / {{ botieList.length }}</span>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div class="list card" id="dashboard-card22">
      <ion-item id="dashboard-list-item49">News</ion-item>
      <div class="item item-body" id="dashboard-list-item-container15">
        <h3 id="dashboard-heading12">Wechaty APP Published, Cheers!</h3>
        <div id="dashboard-markdown25" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;">Thanks Ionic Creator, We can build
            <strong>Wechaty APP</strong> in a week.</p>
        </div>
      </div>
      <ion-item class="balanced" id="dashboard-list-item50">
        <span class="item-note">Read more ...</span>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
