<ion-view title="Giftie List" id="page18">
  <ion-content padding="true" class="has-header">
    <h3 id="giftieList-heading11" class="balanced">Giftie Management</h3>
    <div class="list card" id="giftieList-card23">
      <ion-item id="giftieList-list-item56">About</ion-item>
      <div class="item item-body" id="giftieList-list-item-container20">
        <div id="giftieList-markdown34" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#33CD5F;">Giftie are extensions of Wechaty functionality written by the community using our plugin development SDK.</p>

          <p style="color:#33CD5F;">Are you interested in creating a Wechaty plugin? Check out our SDK and documentation to see exactly what plugins can do, how they work and how easy plugin development can be.</p>
        </div>
      </div>
      <ion-item id="giftieList-list-item57">
        <span class="item-note">VIEW DOCUMENTATION</span>
      </ion-item>
    </div>
    <div class="list card" id="giftieList-card24">
      <ion-item class="item-icon-right" id="giftieList-list-item58">Auto Reply
        <i class="icon ion-reply"></i>
      </ion-item>
      <div class="item item-body" id="giftieList-list-item-container21">
        <div id="giftieList-markdown35" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#33CD5F;">Send canned reply automatically for
            <strong>keywords</strong> set by you.</p>
        </div>
      </div>
      <ion-item id="giftieList-list-item59">
        <span class="item-note">INSTALL</span>
      </ion-item>
    </div>
    <div class="list card" id="giftieList-card25">
      <ion-item class="item-icon-right" id="giftieList-list-item61">Auto Accept Friend Request
        <i class="icon ion-android-people"></i>
      </ion-item>
      <div class="item item-body" id="giftieList-list-item-container22">
        <div id="giftieList-markdown36" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#33CD5F;">Accept friend request for you automatically. Can set
            <strong>keywords</strong> to only accept request with that.</p>
        </div>
      </div>
      <ion-item id="giftieList-list-item62">
        <span class="item-note">OPEN</span>
      </ion-item>
    </div>
    <div class="list card" id="giftieList-card27">
      <ion-item class="item-icon-right" id="giftieList-list-item47">Room Inviter
        <i class="icon ion-key"></i>
      </ion-item>
      <div class="item item-body" id="giftieList-list-item-container14">
        <div id="giftieList-markdown24" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#33CD5F;">Send a room invitation to friend if received the specified
            <strong>keywords</strong>.</p>
        </div>
      </div>
      <ion-item id="giftieList-list-item48">
        <span class="item-note">OPEN</span>
      </ion-item>
    </div>
    <div class="list card" id="giftieList-card28">
      <ion-item class="item-icon-right" id="giftieList-list-item54">Room Guardian
        <i class="icon ion-eye"></i>
      </ion-item>
      <div class="item item-body" id="giftieList-list-item-container17">
        <div id="giftieList-markdown29" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#33CD5F;">Lock your
            <strong>room topic</strong> form being changed by others.</p>
        </div>
      </div>
      <ion-item id="giftieList-list-item55">
        <span class="item-note">OPEN</span>
      </ion-item>
    </div>
    <div class="list card" id="giftieList-card210">
      <ion-item class="item-icon-right" id="giftieList-list-item64">Mass Message Sender
        <i class="icon ion-speakerphone"></i>
      </ion-item>
      <div class="item item-body" id="giftieList-list-item-container19">
        <div id="giftieList-markdown32" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#33CD5F;">Send messages to multiple users at once.</p>
        </div>
      </div>
      <ion-item id="giftieList-list-item65">
        <span class="item-note">OPEN</span>
      </ion-item>
    </div>
    <div class="list card" id="giftieList-card21">
      <ion-item class="item-icon-right" id="giftieList-list-item31">Interpreter
        <i class="icon ion-arrow-swap"></i>
      </ion-item>
      <div class="item item-body" id="giftieList-list-item-container11">
        <div id="giftieList-markdown13" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#33CD5F;">Transpose messages from one language into another, instantly and accurately. Speaker can use Text or Audio, audience will get Text in the
            <strong>Target Language</strong>.</p>
        </div>
      </div>
      <ion-item id="giftieList-list-item32">
        <span class="item-note">OPEN</span>
      </ion-item>
    </div>
    <div class="list card" id="giftieList-card26">
      <ion-item class="item-icon-right" id="giftieList-list-item35">Film Maker
        <i class="icon ion-ios-film-outline"></i>
      </ion-item>
      <div class="item item-body" id="giftieList-list-item-container12">
        <div id="giftieList-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#33CD5F;">Concatenate multiple Videos/Audios that received.</p>
        </div>
      </div>
      <ion-item id="giftieList-list-item40">
        <span class="item-note">INSTALL</span>
      </ion-item>
    </div>
    <div class="list card" id="giftieList-card29">
      <ion-item class="item-icon-right" id="giftieList-list-item60">Image Digester
        <i class="icon ion-images"></i>
      </ion-item>
      <div class="item item-body" id="giftieList-list-item-container18">
        <div id="giftieList-markdown31" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#33CD5F;">Read photo and tell you what's it.</p>
        </div>
      </div>
      <ion-item id="giftieList-list-item63">
        <span class="item-note">INSTALL</span>
      </ion-item>
    </div>
    <div class="list card" id="giftieList-card211">
      <ion-item class="item-icon-right" id="giftieList-list-item66">Message Tracker
        <i class="icon ion-eye"></i>
      </ion-item>
      <div class="item item-body" id="giftieList-list-item-container23">
        <div id="giftieList-markdown33" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#33CD5F;">Notice you if any new message matches the keywords you set. </p>
        </div>
      </div>
      <ion-item id="giftieList-list-item67">
        <span class="item-note">INSTALL</span>
      </ion-item>
    </div>
    <div class="list card" id="giftieList-card212">
      <ion-item class="item-icon-right" id="giftieList-list-item68">Speech Recongnizer
        <i class="icon ion-mic-c"></i>
      </ion-item>
      <div class="item item-body" id="giftieList-list-item-container24">
        <div id="giftieList-markdown37" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#33CD5F;">Write down the text message in a speech for you.</p>
        </div>
      </div>
      <ion-item id="giftieList-list-item69">
        <span class="item-note">INSTALL</span>
      </ion-item>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <div id="giftieList-markdown26" style="text-align:center;" class="show-list-numbers-and-dots">
      <p>Giftie Management is part of our Pro pack.</p>

      <p>Click below for a full list of all of the features included in out pro pack and to upgrade</p>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="menu.unlockProFeatures" id="giftieList-button21" class="button button-light  button-block button-clear icon ion-unlocked"></a>
  </ion-content>
</ion-view>