<ion-view title="New Botie" id="page16">
  <ion-content padding="true" class="has-header">
    <form id="newBotie-form11" class="list">
      <label class="item item-input item-floating-label" id="newBotie-input14">
        <span class="input-label">Nick</span>
        <input type="text" placeholder="Nick" ng-model="data.nick">
      </label>
      <label class="item item-input item-floating-label" id="newBotie-input9">
        <span class="input-label">Memo</span>
        <input type="text" placeholder="Memo(optional)" ng-model="data.memo">
      </label>
      <button id="newBotie-button14" ng-click="create()" class="button button-dark  button-block icon ion-android-done"> Done</button>
      <div class="spacer" style="width: 300px; height: 27px;"></div>
      <div id="newBotie-markdown11" class="show-list-numbers-and-dots">
        <p>
          <strong>Bottie</strong> is a Bot that use
          <strong>Chatie</strong> to speack and use
          <strong>Giftie</strong> to act.</p>

        <p>Q: What is a Botie?</p>

        <p>A: Botie is
          <strong>a group of Gifties</strong> for dealing with Chat Conversitions.</p>

        <ol>
          <li>Botie is like the
            <strong>Brain</strong> of Chatie, powered by Gifties.</li>
        </ol>

        <p>More clearly:</p>

        <ol>
          <li>Botie can install one or more Gifties to get the specific ability for ChatBot.</li>
          <li>Botie must bind with a Chatie so that it can be able to speack.</li>
        </ol>
      </div>
    </form>
  </ion-content>
</ion-view>