<ion-view title="New Hostie" id="page15">
  <ion-content padding="true" class="has-header">
    <form id="newHostie-form10" class="list">
      <ion-item class="item-icon-left dark  item-borderless" id="newHostie-list-item26">
        <i class="icon ion-ios-cloud-upload-outline" ng-class="status ? 'balanced' : ''"></i>
      </ion-item>
      <label class="item item-input item-floating-label" id="newHostie-input12">
        <span class="input-label">Token</span>
        <input type="text" placeholder="Token" ng-model="data.token">
      </label>
      <label class="item item-input item-floating-label" id="newHostie-input11">
        <span class="input-label">Nick</span>
        <input type="text" placeholder="Nick: (optional)" ng-model="data.nick">
      </label>
      <div id="newHostie-markdown8" class="show-list-numbers-and-dots">
        <p>nick: {{ nick }}</p>

        <p>token: {{ token }}</p>
      </div>
      <button id="newHostie-button13" ng-click="create()" class="button button-dark  button-block icon ion-android-done"> Done</button>
      <div class="spacer" style="width: 300px; height: 27px;"></div>
      <h3 id="newHostie-heading16" style="color:#000000;">Hosting a Hostie</h3>
      <div id="newHostie-markdown21" class="show-list-numbers-and-dots">
        <p>{{ token }}</p>

        <p>{{ nick }}</p>

        <p>Q: What is a Hostie?</p>

        <p>A:
          <strong>Hostie</strong> is the mouth of Botie. In order to make a Botie work, you need a
          <strong>Hostie</strong> to bind with Botie.</p>

        <p>More clearly:</p>

        <ol>
          <li>
            <strong>Hostie</strong> is a Wechaty Runtime with CPU &amp; Memory &amp; Network resources.</li>
          <li>
            <strong>Botie</strong> is a group of Functions(Gifties) with the logic that you want your bot behavior.</li>
        </ol>
      </div>
    </form>
  </ion-content>
</ion-view>
