<ion-view title="Setting" id="page5">
  <ion-content padding="false" class="has-header">
    <form id="setting-form5" class="list">
      <ion-item class="item-divider" id="setting-list-item-divider4"> </ion-item>
      <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="setting-toggle5">Notification</ion-toggle>
      <ion-item class="item-icon-right" id="setting-list-item10" ui-sref="menu.about">About
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-divider" id="setting-list-item-divider6"> </ion-item>
      <ion-item id="setting-list-item17" ng-click="logout()">Logout</ion-item>
    </form>
  </ion-content>
</ion-view>