<ion-view title="Status" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="status-list10">
      <ion-item class="item-icon-left  assertive-bg" id="status-list-item19">
        <i class="icon ion-close"></i>Live API
        <span class="item-note">ERROR</span>
      </ion-item>
      <ion-item class="item-icon-left" id="status-list-item21">
        <i class="icon ion-checkmark"></i>REST API
        <span class="item-note" ng-class="balanced">OK</span>
      </ion-item>
      <ion-item class="item-icon-left" id="status-list-item22">
        <i class="icon ion-checkmark"></i>Database
        <span class="item-note">OK</span>
      </ion-item>
      <ion-item class="item-icon-left" id="status-list-item23">
        <i class="icon ion-checkmark"></i>Github
        <span class="item-note">OK</span>
      </ion-item>
      <ion-item class="item-icon-left" id="status-list-item25">
        <i class="icon ion-checkmark"></i>Wilddog
        <span class="item-note">OK</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>