<ion-view title="Unlock Pro Features" id="page19">
  <ion-content padding="true" class="has-header">
    <div id="unlockProFeatures-markdown28" class="show-list-numbers-and-dots">
      <p>Our goal has always been to create the best free ChatBot manager. To help support the ongoing development of Wechaty, we also offer an optional upgrade with some advanced features that will appreciate.</p>
    </div>
    <div class="item item-body" id="unlockProFeatures-list-item-container16">
      <div id="unlockProFeatures-markdown30" style="text-align:right;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;">Free Pro</p>
      </div>
      <ion-list id="unlockProFeatures-list14">
        <ion-item id="unlockProFeatures-list-item51">Item
          <span class="item-note">V V</span>
        </ion-item>
        <ion-item id="unlockProFeatures-list-item52">Item
          <span class="item-note">V V</span>
        </ion-item>
        <ion-item id="unlockProFeatures-list-item53">Item
          <span class="item-note">X V</span>
        </ion-item>
      </ion-list>
    </div>
    <button id="unlockProFeatures-button22" class="button button-balanced  button-block">ALREADY PURCHASED</button>
    <button id="unlockProFeatures-button23" class="button button-balanced  button-block">PURCHASE($4.99)</button>
  </ion-content>
</ion-view>