<ion-view title="Welcome" hide-nav-bar="true" hide-back-button="true" nav-transition="none" id="page12" style="background-color:#000000;">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider4" delegate-handle="slider4" id="welcome-slider4" style="width:100%;height:100%;">
      <ion-slide-page id="welcome-slide213" style="background-color:#44A838;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/4FiThLQaQ2eYZ47DMtn7_wechaty-logo-trans-nomargin-white.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h3 id="welcome-heading7" style="color:#FFFFFF;text-align:center;">Manage your ChatBots</h3>
              <div id="welcome-markdown15" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;">Use
                  <strong>Wechaty</strong> to manage your bot online.</p>
              </div>
              <div class="spacer" style="height: 100px;"></div>
              <button id="welcome-button10" ng-click="login()" style="border-radius:10px 10px 10px 10px;" class="button button-light  button-block button-clear icon ion-social-github"> Signin with Github</button>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="welcome-slide216" style="background-color:#000000;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/EtbjzaQCTkq34AS9kehi_wechaty-logo-trans-nomargin.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h3 id="welcome-heading8" style="color:#44A838;text-align:center;">Order on your Phone</h3>
              <div id="welcome-markdown16" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#44A838;">
                  <strong>Wechaty</strong> is your pocket commander.</p>
              </div>
              <div class="spacer" style="height: 100px;"></div>
              <button id="welcome-button11" style="border-radius:10px 10px 10px 10px;" class="button button-balanced  button-block button-clear icon ion-social-github"> Signin with Github</button>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="welcome-slide217" style="background:url(img/yAE69BtzRu2YIF85ovcd_matrix-code.jpg) no-repeat center;background-size:cover;background-color:#000000;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/gukwvlOcTK6t8Satmu9C_wechaty-logo-trans-nomargin-white.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h3 id="welcome-heading9" style="color:#FFFFFF;text-align:center;">You need a bot</h3>
              <div id="welcome-markdown18" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;">Create your stunning bot today.</p>
              </div>
              <div class="spacer" style="height: 100px;"></div>
              <button id="welcome-button12" style="border-radius:10px 10px 10px 10px;" class="button button-light  button-block button-clear icon ion-social-github"> Signin with Github</button>
              <div align="center">
                <a ui-sref="login">
                  <i class="icon ion-ios-email-outline stable"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>